nav .brand-logo {
    padding-left: 1em;
    font-size: 2rem;
    text-wrap: nowrap;
}

@media only screen and (max-width: 992.99px) {
    nav .brand-logo {
        padding: 0;
    }
}

nav li.active {
    background-color: var(--md-sys-color-on-primary-container-light);
}

.timepicker-text-container input[type=text] {
    background-color: transparent;
    border: none;
    font-size: smaller;
}

.collapsible-header i.tiny {
    font-size: 1rem;
    position: relative;
    top: 0.2rem;
    margin-right: 0;
}