<header>
    <div class="navbar-fixed">
        <nav class="primary">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Family Rules</a>
                <a href="#" data-target="main-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="index.html">Usage Report</a></li>
                    <li><a href="device-state.html">Device State</a></li>
                    <li><a href="schedule.html">Schedule</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <ul class="sidenav" id="main-menu">
        <li><a class="subheader">Family Rules</a></li>
        <li><div class="divider"></div></li>
        <li><a href="index.html">Usage Report</a></li>
        <li><a href="device-state.html">Device State</a></li>
        <li><a href="schedule.html">Schedule</a></li>
    </ul>
</header>