<header>
    <div class="navbar-fixed">
        <nav class="primary">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Family Rules</a>
                <a href="#" data-target="main-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/gui/index.html">Devices</a></li>
                    <li><a href="/gui/settings.html">Settings</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <ul class="sidenav" id="main-menu">
        <li><a href="/gui/index.html">Devices</a></li>
        <li><a href="/gui/settings.html">Settings</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</header>