<header>
    <div class="navbar-fixed">
        <nav class="primary">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Family Rules</a>
                <a href="#" data-target="main-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><span class="clock">00:00</span></li>
                    <li><a href="login.html?logout=true">Logout</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <ul class="sidenav" id="main-menu">
        <li><a class="subheader">Family Rules</a></li>
        <li><div class="divider"></div></li>
        <li><a class="clock">00:00</a></li>
        <li><div class="divider"></div></li>
        <li><a href="login.html?logout=true">Logout</a></li>
    </ul>
</header>