<table id="schedule">
    <thead>
        <tr>
            <th></th>
            {{#each days}}
                <th>{{this}}</th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
    {{#each hours}}
        <tr>
            {{#ifEquals minute 0}}<td rowspan="4">{{time}}</td>{{/ifEquals}}
            {{#each ../days}}
                <td id="schedule-{{toLowerCase this}}-{{../time}}"></td>
            {{/each}}
        </tr>
    {{/each}}
    </tbody>
</table>