<div>
    <h5>Device: <b>{{instanceName}}</b></h5>
    <table>
        <tr>
            <td>Client type</td>
            <td>{{clientType}}</td>
        </tr>
        <tr>
            <td>Client version</td>
            <td>{{clientVersion}}</td>
        </tr>
    </table>
</div>