<div>
    <h5>Device: <b>{{instanceName}}</b></h5>
    <div class="input-field">
        <input id="instance-name" type="text" placeholder="" value="{{instanceName}}">
        <label for="instance-name">Instance name</label>
    </div>
</div>