spring:
  profiles:
    active:
      - ${SPRING_PROFILES_ACTIVE:local}
  main:
    lazy-initialization: true
  jmx:
    enabled: false
  devtools:
    restart:
      enabled: false
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.jmx.JmxAutoConfiguration

firestore:
  project-id: ${FIRESTORE_PROJECT_ID:}
  service-account-path: ${GOOGLE_APPLICATION_CREDENTIALS:}

database-initialization:
  enabled: true
  username: ${ADMIN_USER:admin}
  password: ${ADMIN_PASS:admin}

webhook:
  scheduler-interval-millis: ${WEBHOOK_SCHEDULER_INTERVAL_MILLIS:30000}

management:
  endpoints:
    web:
      exposure:
        include: "health,info"
server:
  port: 8080
